*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
[class*=-page]{
    width: 100%;
    height: 100%;
}
.wrap .main-page {
    background-image: url(../img/pokemon-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .main-page .header-box{
    width: 50%;
    height: 30%;
    background-color: aliceblue;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}
.wrap .main-page .header-box .start{
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 9px #999;
    background-color: aliceblue;
    color: #090909;
    transition: .5s;
}
.wrap .main-page .header-box .start:hover{
    background-color: black;
    color: aliceblue;
    transform: translateY(-4px);
}
.wrap .choose-page{
    background-color: #3d3d3d;
    display: none;
    align-items: center;
    justify-content: center;
}
.wrap .choose-page .choose-box{
    width: 70%;
    height: 80%;
    background-color: rgba(9, 9, 9, 0.3);
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.wrap .choose-page .choose-box .choosePokemonBox{
    width: calc(100%/4);
    height: 80%;
    background-color: #090909;
    box-shadow: 0 0 9px #999;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    padding: 10px;
}
.wrap .choose-page .choose-box .choosePokemonBox .img-box{
    width: 85%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    background-size: cover;
    background-position: center;
}
.wrap .choose-page .choose-box .choosePokemonBox .img-box img{
    height: 100%;
}
.wrap .choose-page .choose-box .choosePokemonBox .stat{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    height: 30%;
    padding: 20px 0px;
}
.wrap .choose-page .choose-box .choosePokemonBox button{
    padding: 10px 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: aliceblue;
    color: #090909;
    transition: .5s;
}
.wrap .choose-page .choose-box .choosePokemonBox button:hover{
    background-color: rgb(117, 107, 107);
    color: aliceblue;
    transform: translateY(-4px);
}
.wrap .choose-page .choose-box .pikachu-box{
    width: 70%;
    height: 80%;
    background-image: url(../img/WhoIsThePokemon-Pikachu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.wrap .choose-page .choose-box .pikachu-box .column{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .choose-page .choose-box .pikachu-box .column input{
    margin-top: 60px;
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 10px;
}
.wrap .choose-page .choose-box .pikachu-box .column button{
    padding: 5px 10px;
    margin-top: 60px;
    margin-left: 10px;
    background-color: #FFFFFF;
    border: 1.5px solid black;
    border-radius: 10px;
    transition: .5s;
}
.wrap .choose-page .choose-box .pikachu-box .column button:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.wrap .game-page{
    background-color: rgb(216, 151, 151);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrap .game-page .yourStatButton{
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: transparent;
    font-size: 35px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 2s;
}
.wrap .game-page .yourStatistics{
    position: fixed;
    right: 50px;
    top: 50px;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
}
.wrap .game-page .nav {
    width: 22rem;
    height: 4rem;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    position: fixed;
    bottom: 25px;
}
.wrap .game-page .nav li {
    list-style: none;
    cursor: pointer;
    width: 45px;
}
.wrap .game-page .nav li img {
    width: 100%;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: 1s;
}
.wrap .game-page .nav li:hover img {
    position: relative;
    top: -25px;
    background: white;
    border-radius: 30%;
}
.wrap .game-page .navWindows{
    width: 22rem;
    height: 25rem;
    position: fixed;
    background-color: antiquewhite;
    backdrop-filter: blur(10px);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: none;
}
.wrap .game-page .navWindows .window{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.wrap .game-page .navWindows .window #return{
    position: fixed;
    left: 30px;
    top: 30px;
    width: 30px;
    height: 20px;
    background-color: #090909;
    color: white;
    border: none;
    border-radius: 5px;
}
.wrap .game-page .navWindows .window .money{
    position: fixed;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 20px;
    background-color: #090909;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.wrap .game-page .navWindows .window h1{
    font-size: 25px;
}
.wrap .game-page .navWindows .window .content{
    width: 98%;
    height: 80%;
}
.wrap .game-page .navWindows .achievementsWindow .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.wrap .game-page .navWindows .achievementsWindow .content .achievementBox{
    width: 80%;
    height: 23%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: brown;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    filter: grayscale(80%);
}
.wrap .game-page .navWindows .achievementsWindow .content .achievementBox .left-part{
    width: 30%;
    height: 95%;
    background-color: rgb(230, 216, 216);
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .game-page .navWindows .achievementsWindow .content .achievementBox .left-part img{
    width: 70%;
}
.wrap .game-page .navWindows .achievementsWindow .content .achievementBox .right-part{
    width: 70%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: white;
}
.wrap .game-page .navWindows .shopWindow .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem{
    width: 80%;
    height: 30%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    border: 2px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .left-part{
    width: 30%;
    height: 95%;
    background-color: rgb(185, 172, 147);
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .left-part img{
    width: 95%;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .middle-part{
    width: 40%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: black;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .right-part{
    width: 30%;
    height: 95%;
    background-color: rgb(185, 172, 147);
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .right-part button{
    padding: 5px 10px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgb(0, 0, 0);
    background-color: aliceblue;
    color: #090909;
    transition: .5s;
    margin: 5px;
}
.wrap .game-page .navWindows .shopWindow .content .shopItem .right-part button:hover{
    background-color: black;
    color: aliceblue;
    transform: translateY(-4px);
}
.wrap .game-page .navWindows .itemsWindow .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}
.wrap .game-page .navWindows .itemsWindow .content .item{
    width: 80%;
    height: 30%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    border: 2px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px;
}
.wrap .game-page .navWindows .itemsWindow .content .item .left-part{
    width: 30%;
    height: 95%;
    background-color: rgb(185, 172, 147);
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .game-page .navWindows .itemsWindow .content .item .left-part img{
    width: 95%;
}
.wrap .game-page .navWindows .itemsWindow .content .item .middle-part{
    width: 40%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: black;
}
.wrap .game-page .navWindows .itemsWindow .content .item .right-part{
    width: 30%;
    height: 95%;
    background-color: rgb(185, 172, 147);
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.wrap .game-page .navWindows .itemsWindow .content .item .right-part button{
    padding: 5px 10px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgb(0, 0, 0);
    background-color: aliceblue;
    color: #090909;
    transition: .5s;
    margin: 5px;
}
.wrap .game-page .navWindows .itemsWindow .content .item .right-part button:hover{
    background-color: black;
    color: aliceblue;
    transform: translateY(-4px);
}
.wrap .game-page .navWindows .pokemon_storageWindow .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}
.wrap .game-page .navWindows .pokemon_storageWindow .content .pokemon{
    width: 23%;
    height: 30%;
    background-color: #FFFFFF;
    border: 1px solid #999;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrap .game-page .navWindows .pokemon_storageWindow .content .pokemon .top-part{
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
.wrap .game-page .navWindows .pokemon_storageWindow .content .pokemon .top-part h1{
    font-size: 12px;
}
.wrap .game-page .navWindows .pokemon_storageWindow .content .pokemon .top-part img{
    height: 80%;
}
.wrap .game-page .navWindows .pokemon_storageWindow .content .pokemon .bottom-part{
    width: 100%;
    height: 20%;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}
.wrap .game-page .targetPokemon{
    position: absolute;
    left: calc(50% - 37.5px);
    top: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
    transition: 10s;
}